<div id="ep_page_ruler">
  <div id="ep_page_inner">
    <span id="ep_page_ruler_left_container">
      <div class='rulerControl' id="ep_page_ruler_left">|&lt;</div>
    </span>
    <span id="ep_page_ruler_right_container">  
      <div class='rulerControl' id="ep_page_ruler_right">&gt;|</div>
    </span>
  </div>
</div>

<style type="text/css">
#ep_page_ruler_left_container{
  float:left;
  position:relative;
  height:100%;
  width:50%;
}
#ep_page_ruler_right_container{
  float:right;
  position:relative; 
  height:100%;
  width:50%;
}
#ep_page_ruler_right{
  margin-left:-9px;
}
.rulerControl{
  position:relative;
  cursor:pointer;
  width:5px;
}
.rulerControl{
  display:none;
}
#ep_page_ruler{
  height:15px;
  z-index:9999;
  position:relative;
}
#ep_page_inner{
  height:100%;
  background-color:lightgrey;
  margin:auto;
  padding-left:-4px;
  position:relative;
}

@media all and (max-width: 1060px){
  #ep_page_ruler{
    display:none;
  } 
  #editorcontainerbox{
    top:0;
  }
}

</style>

<script src="../static/js/jquery.js"></script>
